{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Discipline</h2>
    <div class="row">
        {% for discipline in disciplines %}
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ discipline.name }}</h5>
                    <p class="card-text">{{ discipline.description }}</p>
                    <a href="{% url 'quizzes_by_discipline' discipline.id %}" class="btn btn-primary">Vezi Quizz-uri</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
