{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>{{ quiz.title }}</h2>
    <p class="mb-4">Întrebarea {{ question_number }} din {{ total_questions }}</p>
    {% if current_question %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ current_question.content }}</h5>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="question_id" value="{{ current_question.id }}">
                <div class="list-group">
                    {% for option in current_question.answer_set.all %}
                    <label class="list-group-item list-group-item-action">
                        <div class="form-check">
                            <input class="form-check-input me-1" type="radio" name="selected_answer_id" id="option_{{ option.id }}" value="{{ option.id }}">
                            <span>{{ option.content }}</span>
                        </div>
                    </label>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Următoare</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
        Congratulations! You have completed the quiz.
    </div>
    {% endif %}
</div>
{% endblock content %}
